<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h2>Submitted Information</h2>
    <h3>Name: <%= user.name %></h3>
    <h4>Dojo Location: <%= user.location %></h4>
    <h4>Favorite Language: <%= user.language %></h4>
    <h4>Comment: <%= user.comment %></h4>
  </div>
</body>

</html>
